$text-color: #7E7E82;
$icon-color: #FF3E79;

.brands {
    padding: $content-padding;
    overflow: hidden;
    max-width: 100vw;

    &__read-more {
        margin-top: 2em;
    }

    &__slider {
        overflow: hidden;
        height: 180px;
    }
    &__pagination {
        position: static;
        margin-top: 1em;
    }
}