.devices {
    padding: $content-padding;
    overflow: hidden;
    max-width: 100vw;
    &__slider {
        overflow: hidden;
        height: 180px;
    }
    &__pagination {
        position: static;
        margin-top: 1em;
    }
    &__read-more {
        margin-top: 1em;
    }
}