.modal-navbar {
    transition: all .35s;
    @media only screen and (max-width : 1120px){
        position: absolute;
        left: 0;
        transform-origin: left center;
        transform: translateX(-100%);
        opacity: 0;
        .navbar__close {
            display: inline-flex;
        }
    }
    &--active{
        z-index: 110;
        transform-origin: left center;
        transform: translateX(0);
        opacity: 1;
        box-shadow: 
            16px 0px 52px rgba(14, 24, 80, 0.2), 
            -2px 0px 4px rgba(69, 79, 126, 0.02);
    }
}

.modal-right-group {
    position: absolute;
    transition: all .35s;
    transform-origin: right center;
    transform: translateX(100%);
    opacity: 0;
    width: 0;
    z-index: 100;
    &--active{
        position: fixed;
        transform-origin: right center;
        transform: translateX(0);
        opacity: 1;
        box-shadow: 
            16px 0px 52px rgba(14, 24, 80, 0.2), 
            -2px 0px 4px rgba(69, 79, 126, 0.02);
    }
}