.links {
    margin: 1.5em 0;
    font-weight: 500;
    &__item {
        -ms-display: flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        height: 2em;
        margin: 1em 0;
        margin-left: -$navbar-padding;
        padding-left: $navbar-padding;
        border-left: 4px solid white;
        &-active {
            color: lighten($text-color, 50%);
            border-left: 4px solid $blue-color;
        }
        &:hover {
            border-left: 4px solid $blue-color;
        }
    }
}

.langs-list {
    font-weight: 500;
    text-transform: uppercase;

    &__item {
        &-active {
            color: lighten($text-color, 50%)
        }
    }
}

.navbar {
    min-width: 320px;
    min-height: 100%;
    background-color: white;

    &__container {
        -ms-display: flex;
        display: flex;
        padding: $navbar-padding;
        -ms-flex-direction: column;
        flex-direction: column;
        position: sticky;
        top: 0;
        height: 100vh;
        min-width: 320px;
    }

    &__search {
        -ms-display: flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        padding: 2px;
        overflow: hidden;
        border-radius: 50px;
        position: absolute;
        right: 0;
    }

    &__text {
        border: 2px solid $icon-color;
        padding: 3px;
        margin-right: -40px;
        width: 225px;
        height: 40px;
        border-radius: 50px;
        transition: .25s;
        transform-origin: right center;
        transform: translateX(100%);
        opacity: 0;
        &--active{
            transform: translateX(0%);
            opacity: 1
        }
    }
    &__search-button {
        z-index: 100;
    }

    &__close {
        display: none;
        margin-right: 1em;
    }

    &__icon {
        &:not(:first-of-type):not(:last-of-type) {
            margin: 0 0.7em;
        }
    }

    &__header {
        position: relative;
        -ms-display: flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
    }

    &__logo {
        -ms-flex-grow: 1;
        flex-grow: 1;
        //padding-left: 1em;
    }

    &__content {
        -ms-flex-grow: 0.5;
        flex-grow: 0.5;
    }

    &__email {
        margin: 1.5em 0;
        font-weight: 500;
    }

    &__phone {
        font-weight: bold;
        font-size: 1.5em;
    }

    &__langs {
        margin-top: 1.5em;
    }
}