.top-menu {
    display: none;
    //display: flex;
    align-items: center;
    padding: $content-padding;
    &__burger-button {
        position: relative;
        margin-right: 1.5em;
        &::after {
            content: "";
            position: absolute;
            height: 70%;
            width: 2px;
            background: #EAEAEA;
            right: -$content-padding;
        }
    }
    &__logo {
        margin-left: 1.5em;
        flex-grow: 1;
    }
    &__buttons {
        display: flex;
    }

    &__group {
        display: flex;
        align-items: center;
        position: relative;
        &:last-child {
            margin-left: 0.7em;
            &::after {
                content: "";
                position: absolute;
                height: 70%;
                width: 2px;
                background: #EAEAEA;
                left: -0.7em;
            }
        }
    }

    &__callback-button {
        margin: 0 0.7em;
    }
}