@font-face {
    font-family: 'TTLakes';
    src: url(../fonts/TTLakes-Regular.woff) format("woff");
    font-weight: normal;
}
@font-face {
    font-family: 'TTLakes';
    src: url(../fonts/TTLakes-Italic.woff) format("woff");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'TTLakes';
    src: url(../fonts/TTLakes-Medium.woff) format("woff");
    font-weight: 500;
}
@font-face {
    font-family: 'TTLakes';
    src: url(../fonts/TTLakes-ExtraBold.woff) format("woff");
    font-weight: bold;
}
@font-face {
    font-family: 'TTLakes';
    src: url(../fonts/TTLakes-ExtraBoldItalic.woff) format("woff");
    font-style: italic;
    font-weight: 900;

    

}