@media only screen and (max-width : 1120px){
    .top-menu {
        display: flex;
    }
    .services__icons {
        display: none;
    }
    .prices__footer {
        max-width: 100%;
    }
    .navigation {
        flex-wrap: nowrap;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px){
    body {
        font-size: 0.9rem;
    }
    .title {
        font-size: 1em;
    }
    .read-more:not(.read-more--text) {
        display: none;
    }
    .form__close {
        position: static;
    }
    .brands__slider, .devices__slider {
        height: auto;
    }
    .list {
        flex-wrap: nowrap;
    }
    .footer__item {
        flex-basis: 100%;
        text-align: center;
    }
    .swiper-pagination {
        display: block;
    }

    .table {
        display: block;
        max-width: 100vw;
        
        &__header {
            display: none;
        }
        &__body {
            display: flex;
        }
        &__row {
            display: flex;
            flex-wrap: wrap;
            width: 260px;
            min-height: 220px;
            border: 1px solid #eaeaea;
            border-radius: 8px;
            margin: 0 0.5em;
        }
        &__cell {
            display: block;
            padding: 10px;
            border: none;
            &:not(:nth-child(3)):not(:last-child) {
                width: 100%;
            }
            &:last-child {
                margin-left: auto;
            }
            &::before {
                display: block;
            }
        }
    }
}

@media only screen and (max-width : 570px){
    .modal {
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    .form {
        min-width: 360px;
    }
    .top-menu__group:first-child {
        display: none;
    }
}

@media only screen and (max-height : 700px){
    .modal {
        overflow-y: auto;
        overflow-x: hidden;
    }
    .form__close {
        position: static;
    }
    .navbar__container {
        overflow-y: auto;
    }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 360px){
    .top-menu {
        font-size: 0.3rem;
    }
    .navbar {
        width: 100%;
        &__email{
            margin: 0.5em 0;
        }
        &__langs {
            margin-top: 0.5em;
        }
    }
    .links {
        margin: 0.5em 0;
    }
    .links__item {
        margin: 0.5em 0;
        margin-left: -$navbar-padding;
    }
    .form {
        min-width: 100%;
        &__close {
            margin-bottom: 0.5em;
        }
        &__submit {
            margin-top: 0.7em;
        }
    }
}

@media only screen and (max-width : 440px){
    .form {
        width: 100%;
    }
}