@import "./node_modules/normalize.css/normalize";
@import "../../node_modules/swiper/css/swiper.min.css";

@import "vars";
@import "fonts";


@import "components/components";
@import "components/navbar";
@import "components/top-menu";
@import "components/burger-menu";
@import "components/brands";
@import "components/services";
@import "components/devices";
@import "components/prices";
@import "components/footer";
@import "components/form";
@import "components/modal";

@import "media";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 1rem;
    //font-size: calc(0.5em + 1vw);
}

html, body {
    font-family: TTLakes;
    height: auto;
}

body {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

button {
    border: none;
}
.container {
    max-width: 100vw;
}
main {
    display: block;
    max-width: 1120px;
    background-color: $page-bg-color;
}

.swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background-color: #DDDDDD;
    &-active {
        background-color: #B5B6BC;
    }
}