$border-color: #EAEAEA;
$page-bg-color: #F8F8F8;
$light-gray-color: #7E7E82;
$icon-color: #FF3E79;
$blue-color: #41F6D7;
$text-color: #1B1C21;
$nav-item-border-color: #B8FFEC;
$navbar-padding: 1.5em;
$content-padding: 1.3em;